.travel_point {
    display: flex;
    gap: 30px;
    padding: 0 10px 0 10px;

}

.travel_point-left {
    display: flex;
    align-items: flex-end;
    min-width: 50%;
    position: relative;
    .travel_point-img1 {
        width: 274px;
    }
    .travel_point-img2 {
        width: 200px;
        position: absolute;
        bottom: -10px;
        right: 115px;
    }
    .travel_point-img3 {
        width: 180px;
        position: absolute;
        top: 35px;
        right: 3px;
    }
    img{
        width: 100%;
    }
}

.travel_point-right {
    width: 50%;
}

.travel_point_above {}

.travel_point-title {}

.travel_point-subtitle {}

.wrapper_travel-point {}