.travel_point {
    display: flex;
    gap: 30px;
    padding: 0 10px 0 10px;
    margin-top: 100px;
}

.travel_point-left {
    display: flex;
    align-items: flex-end;
    min-width: 50%;
    position: relative;
    .travel_point-img1 {
        width: 274px;
    }
    .travel_point-img2 {
        width: 200px;
        position: absolute;
        bottom: -10px;
        right: 115px;
    }
    .travel_point-img3 {
        width: 180px;
        position: absolute;
        top: 25px;
        right: 3px;
    }
    img{
        width: 100%;
    }
}

.travel_point-right {
    width: 50%;
    color: #3D3E48;
    font-weight: 700;
    line-height: 28px;
    font-size: 16px;
}

.travel_point_above {
    line-height: 28px;
    color: #295943;
}

.travel_point-title {
    font-size: 28px;
}

.travel_point-subtitle {
    font-weight: 400;
    margin-bottom: 35px;
}

.wrapper_travel-point {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    font-weight: 400;
    div {
        p:nth-child(1) {
            font-size: 28px;
            font-weight: 700;
            color: #295943;
            margin: 5px;
        }
        p:nth-child(2) {
            margin: 5px;
        }
    }
}