<div class="about_us">

    <section class="choose">
        <h2>Why Choose Us ?</h2>
        <h3>These popular destinations have a lot to offer</h3>
        <div class="wrapper_choose">
            <div>
                <img src="../img/svg/about_us/choose_icon1.svg" alt="choose-icon">
                <p>Best price guarantee</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div>
                <img src="../img/svg/about_us/choose_icon2.svg" alt="choose-icon">
                <p>Easy Booking</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div>
                <img src="../img/svg/about_us/choose_icon3.svg" alt="choose-icon">
                <p>Customer Service 24h</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
    </section>

    <section class="about_article">
        <div class="about_article-text">
            <h3>About Travelaja.com</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dictum et in feugiat. Platea in diam, est congue. Posuere
            sapien morbi augue ultrices. Et facilisi orci sollicitudin placerat lacus lacus nibh. Egestas semper massa viverra massa
            proin in morbi placerat. Pharetra nec, est non integer nisi, ut faucibus. Non, in nam sollicitudin vitae volutpat ac
            molestie. Turpis pellentesque sit pellentesque id cras lobortis tortor, blandit.</p>
            <p>Id ac non, semper turpis maecenas. Convallis tempor fringilla quisque arcu, dictum. Vitae cursus vel netus tincidunt
            vitae. Malesuada velit, at mattis adipiscing quisque tristique id magna. Blandit porta sit nam magna sit. Turpis
            vestibulum facilisis placerat habitant gravida eget. Lacus pretium, arcu non adipiscing sed faucibus semper eget tempor.</p>
        </div>
        <div class="about_article-img">
            <img src="../img/picture/about_us/about_img.png" alt="about_pic">
        </div>
    </section>

    <section class="our_teams">
        <h2>Our Teams</h2>
        <h3>Lorem ipsum dolor sit amet</h3>
        <div class="teams_wrapper">
            <div>
                <img src="../img/picture/about_us/team-icon1.png" alt="teams-icon">
                <p>Agung perdana</p>
                <p>Web Designer</p>
            </div>
            <div>
                <img src="../img/picture/about_us/team-icon2.png" alt="teams-icon">
                <p>Viola Resti</p>
                <p>Marketing Director</p>
            </div>
            <div>
                <img src="../img/picture/about_us/team-icon3.png" alt="teams-icon">
                <p>Rahardianysah</p>
                <p>International Relations</p>
            </div>
            <div>
                <img src="../img/picture/about_us/team-icon4.png" alt="teams-icon">
                <p>Andika</p>
                <p>Medical Check</p>
            </div>
            <div>
                <img src="../img/picture/about_us/team-icon5.png" alt="teams-icon">
                <p>Theresa Russell</p>
                <p>Doctor Assistant</p>
            </div>
        </div>
    </section>

    <section class="about_icon">
        
        <div>
            <img src="../img/svg/about_us/travel-icon1.svg" alt="travel-icon">
            <p>TRAVEL</p>
        </div>
        <div>
            <img src="../img/svg/about_us/travel-icon2.svg" alt="travel-icon">
            <p>CITY TOUR</p>
        </div>
        <div>
            <img src="../img/svg/about_us/travel-icon3.svg" alt="travel-icon">
            <p>ISLAND TOUR</p>
        </div>
        <div>
            <img src="../img/svg/about_us/travel-icon4.svg" alt="travel-icon">
            <p>EXPLORE WORLD</p>
        </div>
        
    </section>
</div>