<div class="contact">

<section class="contact_main">
    <div class="form_contact">
        <h2>Get in touch</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
        fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper
        eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra</p>

        <div class="contact_input">
            <label for="">Name :</label>
            <input type="text" placeholder="Input your name">
            <label for="">Email :</label>
            <input type="email" placeholder="Email">
            <label for="">Message :</label>
            <textarea name="text" id="" cols="30" rows="10"></textarea>
            <button>Send</button>
        </div>
        

    </div>

    <div class="wrapper_contact">
        <div class="contact_maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80881.83132522731!2d26.193491309128746!3d50.69104324043857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6b951b8bac25%3A0xfd50f78c4bb2e1d6!2z0JDQs9GA0L7RgtGD0YDQuNC30LwgJyfQotC40YXQuNC5INCl0YPRgtGW0YAnJw!5e0!3m2!1suk!2sua!4v1675017866493!5m2!1suk!2sua"
                width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        
        <div class="info_contact">
            <div>
                <p>Address :</p>
                <p>JL.Cindelaras No.205A</p>
            </div>
            <div>
                <p>Phone :</p>
                <p>+62 1234 432 567</p>
            </div>
            <div>
                <p>City :</p>
                <p>Yogyakarta, Indonesia</p>
            </div>
            <div>
                <p>Email :</p>
                <p>info@travelaja.com</p>
            </div>
            <div>
                <p>Open :</p>
                <p>At 8AM</p>
            </div>
            <div>
                <p>Close :</p>
                <p>At 8PM</p>
            </div>
        </div>
        
        <p>AVAILABLE AT 9AM - 10PM</p>

        <p>+124 4537 9756</p>
    </div>
</section>

</div>