<section class="discover_lorem">
    <div class="text_lorem">
        <div class="text_lorem-top">
            <img src="../img/svg/discover/discover-icon.svg" alt="discover-icon">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
            fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper
            eget nulla facilisi.</p>
        </div>
        <p>enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris
        sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc
        sed augue lacus, viverra vitae congue eu, consequat ac felis donec et odio pellentesque diam volutpat commodo sed
        egestas egestas fringilla fau.</p>
    </div>

    <div class="google_maps">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80881.83132522731!2d26.193491309128746!3d50.69104324043857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6b951b8bac25%3A0xfd50f78c4bb2e1d6!2z0JDQs9GA0L7RgtGD0YDQuNC30LwgJyfQotC40YXQuNC5INCl0YPRgtGW0YAnJw!5e0!3m2!1suk!2sua!4v1675017866493!5m2!1suk!2sua"
        width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>

<section class="discover_main">
     <div class="content">
        <div class="title-img">
            <img src="../img/picture/discover/discover-img1.jpg" alt="discover-img1">
        </div>
        <h3>Memorable festivals on bali beach</h3>
        <h4><img src="../img/svg/discover/maps-icon.svg" alt="maps-icon">Bali, Indonesia</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae viverra ornare.
        Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie. Faucibus consectetur mauris
        tristique dolor ut diam, adipiscing et. Semper mi proin malesuada orci phasellus. Consectetur posuere iaculis amet sem.
        Euismod turpis pellentesque sit risus eu, sagittis nulla. Facilisis urna, mi pharetra sed.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae viverra ornare.
        Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie.</p>
        <div class="subtitle-img">
            <div>
                <img src="../img/picture/discover/discover-img2.png" alt="discover-img">
            </div>
            <div>
                <img src="../img/picture/discover/discover-img3.png" alt="discover-img">
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer facilisis aliquet erat vitae viverra ornare.
        Placerat urna integer nibh justo. Dictum vulputate odio mauris amet, dictumst molestie. Faucibus consectetur mauris
        tristique dolor ut diam, adipiscing et. Semper mi proin malesuada orci phasellus. Consectetur posuere iaculis amet sem.
        Euismod turpis pellentesque sit risus eu, sagittis nulla. Facilisis urna, mi pharetra sed.</p>
     </div>

     <aside class="discover_sidebar">

        <div class="sidebar-text">
            <p>Other Destinations</p>
            <a href="#">See all</a>
        </div>

        <div class="sidebar-item">
            <h3>
                Wakatobi beach is a paradise for coral reets in indonesia
            </h3>
            <h4>
                Yogyakarta, Indonesia
            </h4>
            <button>View More</button>
        </div>
        <div class="sidebar-item">
            <h3>
                Wakatobi beach is a paradise for coral reets in indonesia
            </h3>
            <h4>
                Yogyakarta, Indonesia
            </h4>
            <button>View More</button>
        </div>
        <div class="sidebar-item">
            <h3>
                Wakatobi beach is a paradise for coral reets in indonesia
            </h3>
            <h4>
                Yogyakarta, Indonesia
            </h4>
            <button>View More</button>
        </div>
        <div class="sidebar-item">
            <h3>
                Wakatobi beach is a paradise for coral reets in indonesia
            </h3>
            <h4>
                Yogyakarta, Indonesia
            </h4>
            <button>View More</button>
        </div>
     </aside>
</section>