<header class="header_news">

    <div class="container">

        <nav class="nav_header">
            <a class="logo_link" href="#">
                travelaja
            </a>

            <ul class="nav_list">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./discover.html">Discover</a></li>
                <li><a href="./service.html">Services</a></li>
                <li><a class="link_news" href="./news">News</a></li>
                <li><a href="./about_us.html">About Us</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>

            <div class="block_language">
                <img src="../img/svg/header/language_badge.svg" alt="language_badge">
                <span>ID</span>
                <img src="../img/svg/header/nav_arrov-gray.svg" alt="nav_arrov">
            </div>
        </nav>

    </div>

    <div class="bg_news">
        <p>Our News</p>
    </div>

</header>