<div class="news">

    <section class="articles">
        <h2>Travelaja Articles</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</h3>
        <div class="articles_list">
            <button>Adventure Travel</button>
            <button>Beach</button>
            <button>Explore World</button>
            <button>Family Holidays</button>
            <button>Art and culture</button>
        </div>
        <div class="news_articles-galery">
            <div class="articles-item1">
                <img src="../img/picture/news/news_icon1.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item2">
                <img src="../img/picture/news/news_icon2.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item3">
                <img src="../img/picture/news/news_icon3.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item4">
                <img src="../img/picture/news/news_icon4.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item5">
                <img src="../img/picture/news/news_icon5.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item6">
                <img src="../img/picture/news/news_icon6.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item7">
                <img src="../img/picture/news/news_icon7.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item8">
                <img src="../img/picture/news/news_icon8.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
            <div class="articles-item9">
                <img src="../img/picture/news/news_icon9.png" alt="news_icon">
                <p>where can i go? 5 amazing countries that are open right now</p>
                <p>September 19, 2022</p>
            </div>
        </div>
    </section>

</div>