<div class="service">

<section class="service_advantages">
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon1.svg" alt="advantages-icon1">
        <h3>Get Best Price</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon2.svg" alt="advantages-icon2">
        <h3>All Destination</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon3.svg" alt="advantages-icon3">
        <h3>City Tours</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon4.svg" alt="advantages-icon4">
        <h3>Photography</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
</section>

<aside class="service_sidebar">
    <div class="sidebar-item">
        <h3>
            Water City Dreams
        </h3>
        <h4>
            September 18, 2022
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        <button>Read More</button>
    </div>
    <div class="sidebar-item">
        <h3>
            Water City Dreams
        </h3>
        <h4>
            September 18, 2022
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        <button>Read More</button>
    </div>
    <div class="sidebar-item">
        <h3>
            Water City Dreams
        </h3>
        <h4>
            September 18, 2022
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        <button>Read More</button>
    </div>
</aside>

<section class="service_facilities">
    <div class="facilities_block1">
        <h2>Facilities</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
        fringilla urna, porttitor rhoncus dolor purus non enim luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
        dolor purus non eni</p>
        <button>Read More</button>
    </div>
    <div class="facilities_block2">
        <div>
            <img src="../img/svg/service/facilities-icon1.svg" alt="facilities-icon1">
            <p>Baby</p>
            <p>FREE BUGGY</p>
        </div>
        <div>
            <img src="../img/svg/service/facilities-icon2.svg" alt="facilities-icon2">
            <p>Drinks</p>
            <p>INCLUDED</p>
        </div>
        <div>
            <img src="../img/svg/service/facilities-icon3.svg" alt="facilities-icon3">
            <p>Camp</p>
            <p>INCLUDED</p>
        </div>
        <div>
            <img src="../img/svg/service/facilities-icon4.svg" alt="facilities-icon4">
            <p>World</p>
            <p>CUSTOM TOURS</p>
        </div>
    </div>
</section>

<section class="service_our-service">
    <h3>BENEFITS</h3>
    <h2>OUR SERVICE</h2>
    <div class="our_service-wrapper">
        <div class="our_service-item1">
            <h3>Hiking</h3>
            <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
            <button>Read More</button>
        </div>

        <div class="our_service-item2">
            <h3>Staking</h3>
            <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
            <button>Read More</button>
        </div>

        <div class="our_service-item3">
            <h3>Climbing</h3>
            <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
            <button>Read More</button>
        </div>

        <div class="our_service-item4">
            <h3>Tours</h3>
            <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
            <button>Read More</button>
        </div>

        <div class="our_service-item5">
            <h3>Diving</h3>
            <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
            <button>Read More</button>
        </div>

        <div class="our_service-item6">
            <h3>Flying</h3>
            <p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis.</p>
            <button>Read More</button>
        </div>
    </div>
</section>

</div>