<div class="service">

<section class="service_advantages">
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon1.svg" alt="advantages-icon1">
        <h3>Get Best Price</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon2.svg" alt="advantages-icon2">
        <h3>All Destination</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon3.svg" alt="advantages-icon3">
        <h3>City Tours</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
    <div class="advantages-item">
        <img src="../img/svg/service/advantages-icon4.svg" alt="advantages-icon4">
        <h3>Photography</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu, dui tortor, proin eu lectus pellentesque. A cras
        suscipit amet</p>
        <button>READ MORE</button>
    </div>
</section>

<aside class="service_sidebar">
    <div class="sidebar-item">
        <h3>
            Water City Dreams
        </h3>
        <h4>
            September 18, 2022
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        <button>Read More</button>
    </div>
    <div class="sidebar-item">
        <h3>
            Water City Dreams
        </h3>
        <h4>
            September 18, 2022
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        <button>Read More</button>
    </div>
    <div class="sidebar-item">
        <h3>
            Water City Dreams
        </h3>
        <h4>
            September 18, 2022
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        <button>Read More</button>
    </div>
</aside>

<section class="service_facilities">

</section>

<section class="service_our-service">

</section>

</div>