<section class="top_destination">
    <p class="destination-abouve">Top Destination</p>
    <h2 class="estination-title">Discover your love</h2>
    <div class="wrapper_destination">
        <div class="destination_item">
            <div class="destination_item-img">
                <img src="../img/picture/travel_destination/Rectangle1.png" alt="Rectangle picture">
            </div>
            <p>Taman Nasional Komodo</p>
            <div>
                <p>Rp. 7,5jt</p>
                <p>7 days for trips</p>
            </div>
        </div>
        <div class="destination_item">
            <div class="destination_item-img">
                <img src="../img/picture/travel_destination/Rectangle2.png" alt="Rectangle picture">
            </div>
            <p>Taman Nasional Bunaken</p>
            <div>
                <p>Rp. 10,5jt</p>
                <p>9 days for trips</p>
            </div>
        </div>
        <div class="destination_item">
            <div class="destination_item-img">
                <img src="../img/picture/travel_destination/Rectangle3.png" alt="Rectangle picture">
            </div>
            <p>Raja Ampat, Papua Barat</p>
            <div>
                <p>Rp. 20,5jt</p>
                <p>14 days for trips</p>
            </div>
        </div>
        <div class="destination_item">
            <div class="destination_item-img">
                <img src="../img/picture/travel_destination/Rectangle4.png" alt="Rectangle picture">
            </div>
            <p>Kepulauan Wakatobi</p>
            <div>
                <p>Rp. 9,5jt</p>
                <p>12 days for trips</p>
            </div>
        </div>
        <div class="destination_item">
            <div class="destination_item-img">
                <img src="../img/picture/travel_destination/Rectangle5.png" alt="Rectangle picture">
            </div>
            <p>Gili Trawangan, Lombok</p>
            <div>
                <p>Rp. 6,5jt</p>
                <p>7 days for trips</p>
            </div>
        </div>
        <div class="destination_item">
            <div class="destination_item-img">
                <img src="../img/picture/travel_destination/Rectangle6.png" alt="Rectangle picture">
            </div>
            <p>Taman Nasional Bromo</p>
            <div>
                <p>Rp. 9,5jt</p>
                <p>7 days for trips </p>
            </div>
        </div>
    </div>
</section>