<section class="travel_point">
    <div class="travel_point-left">
        <img src="../img/picture/travelers_point/travel_point3.png" alt="travel_point3">
        <img src="../img/picture/travelers_point/travel_point2.png" alt="travel_point2">
        <img src="../img/picture/travelers_point/travel_point1.png" alt="travel_point1">
    </div>
    <div class="travel_point-right">
        <h3></h3>
        <h2></h2>
        <p></p>
        <div>
            <div>
                <p></p>
                <p></p>
            </div>
            <div>
                <p></p>
                <p></p>
            </div>
            <div>
                <p>s</p>
                <p></p>
            </div>
            <div>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</section>