 <section class="testemonial">
    <p class="testemonial_above">Testimonial</p>
    <h2 class="testemonial_title">What they say about us</h2>
    <div class="wrapper_testemonial">
        <div class="testemonial-item">
            <div>
                <img src="../img/svg/testemonial/icon1.svg" alt="">
                <p>Angelina Simple</p>
            </div>
            <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        </div>
        <div class="testemonial-item">
            <div>
                <img src="../img/svg/testemonial/icon2.svg" alt="">
                <p>Viola Natalie</p>
            </div>
            <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        </div>
        <div class="testemonial-item">
            <div>
                <img src="../img/svg/testemonial/icon3.svg" alt="">
                <p>Robert John K.</p>
            </div>
            <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        </div>
        <div class="testemonial-item">
            <div>
                <img src="../img/svg/testemonial/icon4.svg" alt="">
                <p>Anggi Nani</p>
            </div>
            <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        </div>
        <div class="testemonial-item">
            <div>
                <img src="../img/svg/testemonial/icon5.svg" alt="">
                <p>Graham Suryo J</p>
            </div>
            <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        </div>
        <div class="testemonial-item">
            <div>
                <img src="../img/svg/testemonial/icon6.svg" alt="">
                <p>Bagas G Natfi</p>
            </div>
            <p class="testemonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>
        </div>
    </div>
 </section>