<section class="travel_point">

    <div class="travel_point-left">
        <div class="travel_point-img1">
            <img src="../img/picture/travelers_point/travel_point3.png" alt="travel_point3">
        </div>
        <div class="travel_point-img2">
            <img src="../img/picture/travelers_point/travel_point2.png" alt="travel_point2">
        </div>
        <div class="travel_point-img3">
            <img src="../img/picture/travelers_point/travel_point1.png" alt="travel_point1">
        </div>
    </div>

    <div class="travel_point-right">
        <h3 class="travel_point_above">Travelers Point</h3>
        <h2 class="travel_point-title">We help to find your dream place</h2>
        <p class="travel_point-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
        fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper
        eget nulla facilisi</p>
        <div class="wrapper_travel-point">
            <div>
                <p>100+</p>
                <p>Holiday Package</p>
            </div>
            <div>
                <p>172</p>
                <p>Hotels</p>
            </div>
            <div>
                <p>68</p>
                <p>Elite Transportation</p>
            </div>
            <div>
                <p>32M+</p>
                <p>We help to find your dream place</p>
            </div>
        </div>
    </div>

</section>