<footer class="footer">
    <div class="container">
        <div class="wrapper_footer">
            <div class="footer_about">
                <a class="footer_logo" href="#">travelaja</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis,
                lectus magna
                fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel</p>
            </div>
            <div class="footer_contact">
                <ul class="footer_list">
                    <li>Links</li>
                    <li><a href="#">Discover</a></li>
                    <li><a href="#">Special Deals</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
                <ul class="footer_list">
                    <li>Services</li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog & Articles</a></li>
                    <li><a href="#">Term and Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="footer_list">
                    <li>Contact</li>
                    <li><a href="#">Address: Jl.Codelaras No.205A</a></li>
                    <li><a href="#">Kediri, Pare AG17</a></li>
                    <li><a href="#">Phone: 123 456 7890</a></li>
                    <li><a href="#">Email: myagungperdana@gmail.com</a></li>
                    <li><a href="#">Maps: Kediri, East java</a></li>
                </ul>
            </div>
        </div>

        <p class="footer_signature">Ikuti Kami</p>

        <div class="footer_icon">
            <a href="#"><img src="../img/svg/footer/instagram-icon.svg" alt="instagram-icon"></a>
            <a href="#"><img src="../img/svg/footer/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="../img/svg/footer/twitter.svg" alt="twitter"></a>
            <a href="#"><img src="../img/svg/footer/icon.svg" alt="icon"></a>
            <a href="#"><img src="../img/svg/footer/github.svg" alt="github"></a>
        </div>
    </div>
</footer>