<header class="header">

  <div class="container">

    <nav class="nav_header">
      <a class="logo_link" href="#">
        travelaja
      </a>

      <ul class="nav_list">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./discover.html">Discover</a></li>
        <li><a href="./service">Services</a></li>
        <li><a href="./news">News</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <div class="block_language">
        <img src="../img/svg/header/language_badge.svg" alt="language_badge">
        <span>ID</span>
        <img src="../img/svg/header/nav_arrov.svg" alt="nav_arrov">
      </div>
    </nav>

    <div class="block_title">
      <h1 class="title">
        Explore the world with a smile
      </h1>
      <h2 class="sub_title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna
        fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo,
      </h2>
      <div class="header_btn">
        <img src="../img/svg/header/icon_location.svg" alt="icon_location">
        <input class="btn_city" type="text" placeholder="City or Destination">
        <input class="btn_date" type="text" placeholder="Date of stay">
        <input class="btn_person" type="text" placeholder="Person">
        <button class="btn_search">Find Trip Now <img src="../img/svg/header/icon_search.svg" alt="icon_search"></button>
      </div>
    </div>

  </div>

</header>
