:root {
  --container: 1181px;
  --white-color: #fff;
  --btn-color: #3f41a6;
  --btn-color-light: #f9f9fc59;
  --btn-color-grey: #00000050;
  --block-info-color: #f6f5fb;
  --block-footer: #431898;
  --text-color: #1a093c;
  --text-color-light: #787282;
  --radius-photo: 20px;
  --radius-btn: 50px;
  --width-photo_item: clamp(1.5rem, -7.183rem + 43.41vw, 23.75rem);
  --height-photo_item: clamp(1.5rem, -7.671rem + 45.85vw, 25rem);
}
